body {
    font-family: 'Work Sans', sans-serif;
    background: #fffff0;
    /*background-image: url("../media/photo5.jpg")*/
}

a {
    color: #fffff0;
}

a:hover {
    color: gray;
}

.header {
    position: relative;
    height: auto;
    margin: 0 auto;
    width: 90%;
    background:-webkit-radial-gradient(bottom left, #000000, #FF0000);
    background: -moz-radial-gradient(bottom left, #000000, #FF0000);
    background: radial-gradient(bottom left, #000000, #FF0000);
    opacity: 0.85;
    z-index: 5;
    color: #fffff0;
}
.header img {
    max-width: 100%;
    min-width: 60%;
    display: block;
    margin: 0 auto;
    height: auto;
}
.logo-header {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: calc(48px + (96 - 48) * ((100vw - 300px) / (1600 - 300)));
    color: #fffff0;
}

.details {
    margin: 0 auto;
    text-align: center;
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.details p {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    margin: 0 auto;
    text-align: center;
}

.navbar a {
    padding-right: 30px;
    padding-left: 30px;
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-decoration: none;
    border-right: 1px solid #fffff0;
}

.navbar .checkout {
    border-right: none;
}

.main-content {
    margin-top: 20px;
    padding: 0 20px;
}

.lead-info {
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background: #c4c4c4;
    opacity: 0.85;
    z-index: 5;
    text-align: center;
}

.lead-info img {
    display: block;
    margin: 0 auto;
}

.lead-info h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.blinking {
    font-size: 24px;
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.blurb {
    text-align: center;
}

.blurb h3 {
    padding: 0 20px;
    width: 80%;
    margin: auto;
}

.slick {
    position: relative;
    height: auto;
    margin: 0 auto;
    width: 90%;
    background:-webkit-radial-gradient(bottom left, #000000, #FF0000);
    background: -moz-radial-gradient(bottom left, #000000, #FF0000);
    background: radial-gradient(bottom left, #000000, #FF0000);
    opacity: 0.85;
    z-index: 5;
    color: #fffff0;
}

.features {
    text-align: center;
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.slick-images {
    max-width: 80%;
    min-width: 40%;
    margin: 0 auto;
}


figcaption {
    text-align: center;
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.secondary-info {
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background: #c4c4c4;
    opacity: 0.85;
    z-index: 5;
    text-align: center;
    font-size: 24px;
}


.images {
    display: flex;
    justify-content: space-around;
    max-height: 200px;
}

.image {
    max-width: 100%;
    min-width: 40%;
    height: auto;
}

.sec-img {
    max-width: 30%;
    min-width: 10%;
}

@media (max-width: 900px) {
    .images {
        flex-direction: column; /*working on making image responsive */
    }
}
.buy-sell {
    text-align: center;
    font-size: 24px;
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  
}

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background:-webkit-radial-gradient(bottom left, #000000, #FF0000);
    background: -moz-radial-gradient(bottom left, #000000, #FF0000);
    background: radial-gradient(bottom left, #000000, #FF0000);
    opacity: 0.85;
    color: #fffff0;
}

.footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.location {
    position: relative;
    text-align: left;
    margin-left: 15px;
}
.social {
    position: relative;
    text-align: right;
    margin-right: 15px;

}


.social-media {
    padding-right: 30px;
    font-size: calc(8px + (36 - 8) * ((100vw - 300px) / (1600 - 300)));
}

.products {
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background: #c4c4c4;
    opacity: 0.85;
    z-index: 5;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.albums {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.albums figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 15px;
}

.shop-header {
    display: grid;
    grid-template-columns: 50% 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background:-webkit-radial-gradient(bottom left, #000000, #FF0000);
    background: -moz-radial-gradient(bottom left, #000000, #FF0000);
    background: radial-gradient(bottom left, #000000, #FF0000);
}

.shop-header img {
    width: 25%;
    height: auto;
}